{% extends 'base.html.twig' %}
{%  block body %}

    <hr>
    <h2 class="page-header">SEND MAIL</h2>

    <form action="{{ path('AppBundle_SendMail') }}" method="POST">

    <input type="text" name="Subject">

    <input type="text" name="email">

    <textarea name="message"></textarea>

    <input type="submit " value="Send" class="btn">

    </form>





{% endblock %}